.input-text {
  margin: 0;
}

.input-text input {
  width: 100%;
  padding: 12px 14px;

  border-radius: 4px;
  border: 1px solid $input-text-border-color;

  color: rgba($color: $black, $alpha: 0.75);
  font-size: 14px;
  line-height: 18px;

  @include transition(border);

  &:hover,
  &:focus {
    outline: none;

    border: 1px solid $input-text-border-color--dark;
  }

  &::placeholder {
    color: rgba($color: $black, $alpha: 0.25);
    font-size: 14px;
    line-height: 18px;
  }

  &::selection {
    background-color: rgba($color: $blue, $alpha: 0.5)
  }
}

.input-text--focused input {
  border: 1px solid opacify($input-text-border-color, 0.3);
}


