.dropdown__label {
  width: 100%;
  text-align: left;

  border: 1px solid $text-field-border-color;
  border-radius: 4px;

  @include transition(border);

  &:hover,
  &:focus {
    outline: none;

    border: 1px solid $text-field-border-color--dark;
  }

  &::selection {
    background-color: $selection-color;
  }
}

.dropdown__accordion .ui-accordion-header {
  padding: 12px 15px;

  background-color: $white;

  font-family: $font-primary;
  font-size: 14px;
  line-height: 16px;
}

.dropdown__accordion .ui-accordion-header.ui-state-active {
  color: $black;
}

.dropdown__accordion .ui-accordion-header .ui-icon {
  width: 15px;
  height: 7px;
  position: absolute;
  top: calc(50%);
  right: 12px;

  background-image: none;

  @include transition(transform);

  &::before {
    @include corner;
  }
}

.dropdown__accordion .ui-accordion-content {
  padding: 5px 6px 8px 14px;
}

.dropdown__accordion .ui-state-hover ~ .ui-accordion-content,
.dropdown__accordion .ui-state-focus ~ .ui-accordion-content {
  @include transition(border-color);

  border-color: $text-field-border-color--dark;
}

.dropdown__accordion .ui-accordion-header.ui-state-active .ui-icon {
  transform: rotate(-180deg);
}

.dropdown.ui-widget .dropdown__btn-submit {
  display: block;
  margin-left: auto;
  padding: 0;

  background-color: transparent;
  border: none;

  color: $purple;
  font-family: $font-primary;
  font-size: em(12);
  text-transform: uppercase;
  font-weight: 700;

  cursor: pointer;

  @include transition(opacity);

  &:hover,
  &:focus {
    outline: none;

    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.dropdown__inputs-wrapper {
  margin-bottom: 25px;
}
