.rating {
  display: flex;
  position: relative;

  width: 100%;
  height: em(24);
}

.rating__item {
  position: relative;
  display: block;

  width: em(18);
  height: em(18);

  cursor: pointer;

  &::before {
    content: "";

    display: block;
    width: calc(100% + 6px);
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
  }
}

.rating__item:last-child {
  &::before {
    width: 100%;
  }
}

.rating__item:not(:last-child) {
  margin-right: 6px;
}

.rating input {
  appearance: none;

  position: absolute;
}

.rating svg {
  width: em(18);
  height: em(18);

  fill: transparent;
  stroke: url("#gradient-purple");
  stroke-width: 2px;
}

.rating svg:hover {
  fill: url("#gradient-purple");
}

.rating__item--active svg {
  fill: url("#gradient-purple");
}

.rating input:focus ~ svg {
  opacity: 0.6;
}
