include ../text-field/text-field.pug
include ../dropdown/dropdown.pug
include ../input-wrapper/input-wrapper.pug
include ../date-dropdown/date-dropdown.pug
include ../subscription-field/subscription-field.pug
include ../input-quantity/input-quantity.pug
include ../dropdown-rooms/dropdown-rooms.pug
include ../dropdown-guests/dropdown-guests.pug
include ../checkbox/checkbox.pug
include ../rich-checkbox/rich-checkbox.pug
include ../expandable-list/expandable-list.pug
include ../feature/feature.pug
include ../radio/radio.pug
include ../toggle/toggle.pug
include ../btn/btn.pug
include ../rating/rating.pug
include ../range/range.pug
include ../pagination/pagination.pug
include ../bullet/bullet.pug
include ../comment/comment.pug

-
  const expandableCheckboxList = [
    {
      className: "uikit-forms__expandable-checkbox-list-item",
      labelText: "Завтрак",
      name: "example-checkbox-breakfast"
    },

    {
      className: "uikit-forms__expandable-checkbox-list-item",
      labelText: "Письменный стол",
      name: "example-checkbox-table",
      checked: true
    },

    {
      className: "uikit-forms__expandable-checkbox-list-item",
      labelText: "Стул для кормления",
      name: "example-checkbox-chair",
      checked: true
    },

    {
      className: "uikit-forms__expandable-checkbox-list-item",
      labelText: "Кроватка",
      name: "example-checkbox-cot",
      checked: true
    },

    {
      className: "uikit-forms__expandable-checkbox-list-item",
      labelText: "Телевизор",
      name: "example-checkbox-tv"
    },

    {
      className: "uikit-forms__expandable-checkbox-list-item",
      labelText: "Шампунь",
      name: "example-checkbox-shampoo"
    },

    {
      className: "uikit-forms__expandable-checkbox-list-item",
      labelText: "Телевизор",
      name: "example-checkbox-tv-again"
    },

    {
      className: "uikit-forms__expandable-checkbox-list-item",
      labelText: "Шампунь",
      name: "example-checkbox-shampoo-again"
    }
  ];

  const emailTextField = {
    className: "uikit-forms__input",
    type: "email",
    name: "user-email",
    label: "Text Field",
    rightLabel: "Default",
    placeholder: "Email",
    required: true
  };

  const textFieldfocused = {
    className: "text-field--focused uikit-forms__input",
    type: "text",
    label: "Text Field",
    rightLabel: "Hover / Focus",
    placeholder: "Email",
    value: "This is pretty awesome"
  };

  const guestsDropdown = {
    title: "Сколько гостей",
    header: "Количество гостей",
    className: "uikit-forms__select js-uikit-forms-dropdown-example",
    label: "Dropdown",
    rightLabel: "Default"
  };

  const maskedTextField = {
    className: "uikit-forms__input uikit-forms__masked-date js-uikit-forms-masked-date",
    type: "date",
    interactLike: "date",
    label: "Masked Text Field",
    rightLabel: "Default",
    placeholder: "ДД.ММ.ГГГГ",
  };

  const dateDropdownFirst = {
    className: "uikit-forms__input-half js-uikit-forms-date-dropdown-first",
    label: "Date Dropdown",
    name: "user-date-first"
  };

  const dateDropdownSecond = {
    className: "uikit-forms__input-half js-uikit-forms-date-dropdown-second",
    label: "Date Dropdown",
    name: "user-date-second"
  };

  const dateRangeDropdown = {
    className: "uikit-forms__input-75 uikit-forms__date-range js-uikit-forms-date-dropdown-range",
    label: "Filter Date Dropdown",
    name: "user-date-range"
  };

  const subscriptionField = {
    label: "Subscription Text Field",
    className: "uikit-forms__input-75 uikit-forms__email-subscription",
    placeholder: "Email",
    name: "user-email-subscription"
  };

  const roomsDropdown = {
    className: "uikit-forms__input-75 uikit-forms__dropdown-rooms js-uikit-forms-dropdown-rooms",
    title: "Сколько комнат",
    label: "Dropdown",
    rightLabel: "Default"
  };

  const roomsDropdownExpanded = {
    className: "uikit-forms__input-75 uikit-forms__dropdown-rooms-expanded js-uikit-forms-dropdown-rooms-expanded",
    title: "Сколько комнат",
    label: "Dropdown",
    rightLabel: "Expanded"
  };

  const inputQuantitiesRooms = [
    {
      className: "uikit-forms__quantity-input",
      label: "Спальни",
      initialValue: 2,
      min: 1,
      max: 3
    },

    {
      className: "uikit-forms__quantity-input",
      label: "Кровати",
      initialValue: 2,
      min: 1,
      max: 3
    },

    {
      className: "uikit-forms__quantity-input",
      label: "Ванные комнаты",
      initialValue: 0,
      max: 2
    }
  ];

  const expandableList = {
    className: "uikit-forms__expandable-checkbox-list js-uikit-forms-expandable-closed",
    header: "Expandable Checkbox List"
  };

  const expandableListExpanded = {
    className: `uikit-forms__expandable-checkbox-list
    uikit-forms__expandable-checkbox-list--second
    js-uikit-forms-expandable-opened`,
    header: "Expandable Checkbox List"
  };

  const features = [
    {
      className: "uikit-forms__feature",
      iconName: "icon-smile",
      title: "Комфорт",
      labelText: "Шумопоглощающие стены"
    },

    {
      className: "uikit-forms__feature",
      iconName: "icon-city",
      title: "Удобство",
      labelText: "Окно в каждой из спален"
    }
  ];

  const checkboxButtonsList = [
    {
      className: "uikit-forms__checkbox-buttons-item",
      labelText: "Можно курить",
      name: "example-checkbox-buttons-smoke"
    },

    {
      className: "uikit-forms__checkbox-buttons-item",
      labelText: "Можно с питомцами",
      name: "example-checkbox-buttons-pets",
      checked: true
    },

    {
      className: "uikit-forms__checkbox-buttons-item",
      labelText: "Можно пригласить гостей (до 10 человек)",
      name: "example-checkbox-buttons-guests",
      checked: true
    },
  ];

  const radios = [
    {
      className: "uikit-forms__radio-button",
      name: "example",
      label: "Мужчина",
      value: "male",
      checked: true
    },

    {
      className: "uikit-forms__radio-button",
      name: "example",
      label: "Женщина",
      value: "female"
    }
  ];

  const toggles = [
    {
      className: "uikit-forms__toggle",
      labelText: "Получать спецпредложения",
      checked: true,
      name: "user-specials"
    },

    {
      className: "uikit-forms__toggle",
      labelText: "Получать спецпредложения",
      checked: false,
      name: "user-specials-again"
    }
  ];

  const likeBtns = [
    {
      className: "uikit-forms__like-button js-like-btn",
      initialValue: 2,
    },

    {
      className: "uikit-forms__like-button js-like-btn",
      initialValue: 12,
      toggled: true
    }
  ];

  const inputQuantitiesGuests = [
    {
      className: "uikit-forms__quantity-input",
      label: "Взрослые",
      initialValue: 0,
      min: 0,
      max: 4
    },

    {
      className: "uikit-forms__quantity-input",
      label: "Дети",
      initialValue: 0,
      min: 0,
      max: 4
    },

    {
      className: "uikit-forms__quantity-input",
      label: "Младенцы",
      initialValue: 0,
      min: 0,
      max: 4
    }
  ];

  const inputQuantitiesGuestsWithActive = [
    {
      className: "uikit-forms__quantity-input",
      label: "Взрослые",
      initialValue: 2,
      min: 0,
      max: 4
    },

    {
      className: "uikit-forms__quantity-input",
      label: "Дети",
      initialValue: 1,
      min: 0,
      max: 4
    },

    {
      className: "uikit-forms__quantity-input",
      label: "Младенцы",
      initialValue: 0,
      min: 0,
      max: 4
    }
  ];

  const ratings = [
    {
      className: "uikit-forms__rating js-uikit-forms-rating",
      initialValue: 4,
      name: "rating-example"
    },

    {
      className: "uikit-forms__rating js-uikit-forms-rating-full",
      initialValue: 5,
      name: "rating-example-again"
    }
  ];

  const richCheckboxes = [
    {
      labelText: "Широкий коридор",
      description: "Ширина коридоров в номере не\u00A0менее 91 см.",
      name: "hotel-corridor"
    },

    {
      labelText: "Помощник для инвалидов",
      description: "На 1 этаже вас встретит специалист и проводит до номера.",
      name: "hotel-helper"
    }
  ];

  const btns = [
    {
      className: "uikit-forms__btn",
      type: "button"
    },

    {
      className: "uikit-forms__btn",
      type: "button",
      isDisabled: true
    },

    {
      className: "btn--bordered uikit-forms__btn",
      type: "button"
    },

    {
      className: "btn--bordered uikit-forms__btn",
      type: "button",
      isDisabled: true
    },

    {
      className: "btn--transparent uikit-forms__btn-narrow",
      type: "button"
    },

    {
      className: "btn--transparent uikit-forms__btn-narrow",
      type: "button",
      isDisabled: true
    }
  ];

mixin first-column()
  .uikit-forms__column.uikit-forms__column--first
    +text-field(emailTextField)

    +text-field(textFieldfocused)

    +dropdown(guestsDropdown)
      //- guests dropdown

    +text-field(maskedTextField)

    +input-wrapper({
      className: "uikit-forms__double",
      itemsQuantity: 2
    })
      +date-dropdown(dateDropdownFirst)

      +date-dropdown(dateDropdownSecond)

    +date-dropdown(dateRangeDropdown)

    +subscription-field(subscriptionField)

    +dropdown-rooms(roomsDropdown)
      each inputQuantity in inputQuantitiesRooms
        +input-quantity(inputQuantity)

    +dropdown-rooms(roomsDropdownExpanded)
      each inputQuantity in inputQuantitiesRooms
        +input-quantity(inputQuantity)

    .uikit-forms__input-75
      +expandable-list(expandableList)
        each checkbox in expandableCheckboxList
          +checkbox(checkbox)

    .uikit-forms__input-75
      +expandable-list(expandableListExpanded)
        each checkbox in expandableCheckboxList
          +checkbox(checkbox)

mixin second-column()
  .uikit-forms__column.uikit-forms__column--second
    .uikit-forms__input-75.uikit-forms__check-buttons
      +labeled({
        className: "uikit-forms__check-buttons-label",
        label: "Checkbox Buttons",
        tagName: "p"
      })
      .uikit-forms__checkbox-buttons
        each checkboxButton in checkboxButtonsList
          +checkbox(checkboxButton)

    .uikit-forms__input-75.uikit-forms__radios
      +labeled({
        className: "uikit-forms__radio-buttons-label",
        label: "Radio Buttons",
        tagName: "p"
      })
      .uikit-forms__radio-buttons
        each radio in radios
          +radio(radio)

    .uikit-forms__input-75.uikit-forms__toggles
      +labeled({
        className: "uikit-forms__radio-buttons-label",
        label: "Toggle",
        tagName: "p"
      })
      each toggle in toggles
        +toggle(toggle)

    .uikit-forms__input-75.uikit-forms__like-buttons
      +labeled({
        className: "uikit-forms__like-buttons-label",
        label: "Like Button",
        tagName: "p"
      })
        .uikit-forms__like-buttons-wrapper
          each likeBtn in likeBtns
            +btn-like(likeBtn)

      .uikit-forms__input-75.uikit-forms__ratings
        +labeled({
          className: "uikit-forms__rating-label",
          label: "Rate Button",
          tagName: "p"
        })
          .uikit-forms__ratings-wrapper
            each rating in ratings
              +rating(rating)

      .uikit-forms__input.uikit-forms__guests
        +dropdown-guests({
          className: "js-uikit-forms-dropdown-guests",
          title: "Сколько гостей",
          label: "Dropdown"
        })
          each inputQuantity in inputQuantitiesGuests
            +input-quantity(inputQuantity)

      .uikit-forms__input-75.uikit-forms__rich-checkboxes
        +labeled({
          className: "uikit-forms__rich-checkbox-label",
          label: "Rich Checkbox Buttons",
          tagName: "p"
        })
          each richCheckbox in richCheckboxes
            +rich-checkbox(richCheckbox)

mixin third-column()
  .uikit-forms__column.uikit-forms__column--third
    .uikit-forms__input-75.uikit-forms__range
      +range({
        className: "js-uikit-forms-range"
      })

    .uikit-forms__input.uikit-forms__btns

      +labeled({
        className: "uikit-forms__btns-label",
        label: "Buttons",
        tagName: "p"
      })
      .uikit-forms__btns-wrapper
        each btn in btns
          +btn(btn)
            | Click Me

    .uikit-forms__input.uikit-forms__rest-btns
      +btn({
        className: "uikit-forms__btn-100",
        type: "button"
      })
        | Перейти к оплате
        +svg("arrow_forward", 15, 15)

    .uikit-forms__input.uikit-forms__paginations
      +labeled({
        className: "uikit-forms__pagination-label",
        label: "Pagination",
        tagName: "p"
      })
      +pagination({
        className: "uikit-forms__pagination"
      })

    .uikit-forms__input.uikit-forms__guests-opened
      +dropdown-guests({
        className: "js-uikit-forms-dropdown-guests-with-active",
        title: "Сколько гостей",
        label: "Dropdown"
      })
        each inputQuantity in inputQuantitiesGuestsWithActive
          +input-quantity(inputQuantity)

    .uikit-forms__input-75.uikit-forms__bullets
      +labeled({
        className: "uikit-forms__bullets-label",
        label: "Bullet List",
        tagName: "p"
      })
      ul.uikit-forms__bullet-list
        li.uikit-forms__bullet-item
          +bullet({
            className: "uikit-forms__bullet"
          })
            | Нельзя с питомцами
        li.uikit-forms__bullet-item
          +bullet({
            className: "uikit-forms__bullet"
          })
            | Без вечеринок и мероприятий
        li.uikit-forms__bullet-item
          +bullet({
            className: "uikit-forms__bullet"
          })
            | Время прибытия — после 13:00, а выезд до 12:00

main.page-main
  section.uikit-forms
    .wrapper.uikit-forms__inner
      h1.visually-hidden
        | UI-Kit Forms
      form.uikit-form__wrapper(
        method="post"
        action="http://echo.htmlacademy.ru")

        +first-column()
        +second-column()
        +third-column()

      .uikit-forms__static
        .uikit-forms__input-75.uikit-forms__features
          each feature in features
            +feature(feature)

        +comment({
          className: "uikit-forms__comment",
          userName: "Мурад Сарафанов",
          when: "5 дней назад",
          likes: 12,
          toggled: true
        })
          | Великолепный матрас на кровати в основной спальне!
          | А пуфик вообще потрясающий.
          | И стены, действительно, шумоподавляющие.
          | Выкрикивал комплименты повару — никто не жаловался из соседей.

          //- button(type="submit")
          //-   | go go go
