include ../text-field/text-field
include ../dropdown/dropdown
include ../input-wrapper/input-wrapper
include ../date-dropdown/date-dropdown
include ../subscription-field/subscription-field
include ../input-quantity/input-quantity
include ../dropdown-rooms/dropdown-rooms
include ../checkbox/checkbox
include ../expandable-list/expandable-list
include ../feature/feature

-
  const expandableCheckboxList = [
    {
      className: "uikit-forms__expandable-checkbox-list__item",
      labelText: "Завтрак",
      name: "example-checkbox-breakfast"
    },

    {
      className: "uikit-forms__expandable-checkbox-list__item",
      labelText: "Письменный стол",
      name: "example-checkbox-table",
      checked: true
    },

    {
      className: "uikit-forms__expandable-checkbox-list__item",
      labelText: "Стул для кормления",
      name: "example-checkbox-chair",
      checked: true
    },

    {
      className: "uikit-forms__expandable-checkbox-list__item",
      labelText: "Кроватка",
      name: "example-checkbox-cot",
      checked: true
    },

    {
      className: "uikit-forms__expandable-checkbox-list__item",
      labelText: "Телевизор",
      name: "example-checkbox-tv"
    },

    {
      className: "uikit-forms__expandable-checkbox-list__item",
      labelText: "Шампунь",
      name: "example-checkbox-shampoo"
    },

    {
      className: "uikit-forms__expandable-checkbox-list__item",
      labelText: "Телевизор",
      name: "example-checkbox-tv-again"
    },

    {
      className: "uikit-forms__expandable-checkbox-list__item",
      labelText: "Шампунь",
      name: "example-checkbox-shampoo-again"
    }
  ];

  const emailTextField = {
    className: "uikit-forms__input",
    type: "email",
    name: "user-email",
    label: "Text Field",
    rightLabel: "Default",
    placeholder: "Email",
    required: true
  };

  const textFieldfocused = {
    className: "text-field--focused uikit-forms__input",
    type: "text",
    label: "Text Field",
    rightLabel: "Hover / Focus",
    placeholder: "Email",
    value: "This is pretty awesome"
  };

  const guestsDropdown = {
    title: "Сколько гостей",
    header: "Количество гостей",
    className: "uikit-forms__select js-uikit-forms-dropdown-example",
    label: "Dropdown",
    rightLabel: "Default"
  };

  const maskedTextField = {
    className: "uikit-forms__input uikit-forms__masked-date js-uikit-forms-masked-date",
    type: "date",
    interactLike: "date",
    label: "Masked Text Field",
    rightLabel: "Default",
    placeholder: "ДД.ММ.ГГГГ",
  };

  const dateDropdownFirst = {
    className: "uikit-forms__input-half js-uikit-forms-date-dropdown-first",
    label: "Date Dropdown",
    name: "user-date-first"
  };

  const dateDropdownSecond = {
    className: "uikit-forms__input-half js-uikit-forms-date-dropdown-second",
    label: "Date Dropdown",
    name: "user-date-second"
  };

  const dateRangeDropdown = {
    className: "uikit-forms__input-75 uikit-forms__date-range js-uikit-forms-date-dropdown-range",
    label: "Filter Date Dropdown",
    name: "user-date-range"
  };

  const subscriptionField = {
    label: "Subscription Text Field",
    className: "uikit-forms__input-75 uikit-forms__email-subscription",
    placeholder: "Email",
    name: "user-email-subscription"
  };

  const roomsDropdown = {
    className: "uikit-forms__input-75 uikit-forms__dropdown-rooms js-uikit-forms-dropdown-rooms",
    title: "Сколько комнат",
    label: "Dropdown",
    rightLabel: "Default"
  };

  const roomsDropdownExpanded = {
    className: "uikit-forms__input-75 uikit-forms__dropdown-rooms-expanded js-uikit-forms-dropdown-rooms-expanded",
    title: "Сколько комнат",
    label: "Dropdown",
    rightLabel: "Expanded"
  };

  const inputQuantities = [
    {
      className: "uikit-forms__quantity-input",
      label: "Спальни",
      initialValue: 2,
      min: 1,
      max: 3
    },

    {
      className: "uikit-forms__quantity-input",
      label: "Кровати",
      initialValue: 2,
      min: 1,
      max: 3
    },

    {
      className: "uikit-forms__quantity-input",
      label: "Ванные комнаты",
      initialValue: 0,
      max: 2
    }
  ];

  const expandableList = {
    className: "uikit-forms__expandable-checkbox-list js-uikit-forms-expandable-closed",
    header: "Expandable Checkbox List"
  };

  const expandableListExpanded = {
    className: `uikit-forms__expandable-checkbox-list
    uikit-forms__expandable-checkbox-list--second
    js-uikit-forms-expandable-opened`,
    header: "Expandable Checkbox List"
  };

  const features = [
    {
      className: "uikit-forms__feature",
      iconName: "icon-smile",
      title: "Комфорт",
      labelText: "Шумопоглощающие стены"
    },

    {
      className: "uikit-forms__feature",
      iconName: "icon-city",
      title: "Удобство",
      labelText: "Окно в каждой из спален"
    }
  ];

main.page-main
  section.uikit-forms
    .wrapper.uikit-forms__inner
      h1.visually-hidden
        | UI-Kit Forms

      form.uikit-forms__form(
        method="post"
        action="http://echo.htmlacademy.ru"
      )
        .uikit-forms__form-wrapper
          +text-field(emailTextField)

          +text-field(textFieldfocused)

          +dropdown(guestsDropdown)
            //- guests dropdown

          +text-field(maskedTextField)

          +input-wrapper({
            className: "uikit-forms__double",
            itemsQuantity: 2
          })
            +date-dropdown(dateDropdownFirst)

            +date-dropdown(dateDropdownSecond)

          +date-dropdown(dateRangeDropdown)

          +subscription-field(subscriptionField)

          +dropdown-rooms(roomsDropdown)
            each inputQuantity in inputQuantities
              +input-quantity(inputQuantity)

          +dropdown-rooms(roomsDropdownExpanded)
            each inputQuantity in inputQuantities
              +input-quantity(inputQuantity)


          .uikit-forms__input-75
            +expandable-list(expandableList)
              each checkbox in expandableCheckboxList
                +checkbox(checkbox)

          .uikit-forms__input-75
            +expandable-list(expandableListExpanded)
              each checkbox in expandableCheckboxList
                +checkbox(checkbox)

          .uikit-forms__input-75
            each feature in features
              +feature(feature)

          //- button(type="submit")
          //-   | go go go
