include ../text-field/text-field
include ../dropdown/dropdown
include ../input-wrapper/input-wrapper
include ../date-dropdown/date-dropdown

main.page-main
  section.uikit-forms
    .wrapper.uikit-forms__inner
      h1.visually-hidden
        | UI-Kit Forms

      form.uikit-forms__form(method="post" action="http://echo.htmlacademy.ru")
        .uikit-forms__form-wrapper
          +text-field({
            className: "uikit-forms__input",
            type: "email",
            name: "user-email",
            label: "Text Field",
            rightLabel: "Default",
            placeholder: "Email",
            required: true
          })

          +text-field({
            className: "text-field--focused uikit-forms__input",
            type: "text",
            label: "Text Field",
            rightLabel: "Hover / Focus",
            placeholder: "Email",
            value: "This is pretty awesome"
          })

          +dropdown({
            title: "Сколько гостей",
            header: "Количество гостей",
            className: "uikit-forms__select js-uikit-forms-dropdown-example",
            label: "Dropdown",
            rightLabel: "Default"
          })

          +text-field({
            className: "uikit-forms__input uikit-forms__masked-date js-uikit-forms-masked-date",
            type: "date",
            interactLike: "date",
            label: "Masked Text Field",
            rightLabel: "Default",
            placeholder: "ДД.ММ.ГГГГ",
          })

          +input-wrapper({
            className: "uikit-forms__double",
            itemsQuantity: 2
          })
            +date-dropdown({
              className: "uikit-forms__input-half js-uikit-forms-date-dropdown-first",
              label: "Date Dropdown",
              name: "user-date-first"
            })

            +date-dropdown({
              className: "uikit-forms__input-half js-uikit-forms-date-dropdown-second",
              label: "Date Dropdown",
              name: "user-date-second"
            })

          +date-dropdown({
            className: "uikit-forms__input-75 js-uikit-forms-date-dropdown-range",
            label: "Filter Date Dropdown",
            name: "user-date-range"
          })

          button(type="submit")
            | go go go
