include ../dropdown/dropdown.pug

mixin dropdown-rooms(dropdownRoomsObj)
  -
    const {
      className,
      label,
      rightLabel,
      header,
      title
    } = dropdownRoomsObj

  +dropdown(dropdownRoomsObj)
    block
