.btn-burger {
  display: none;
  width: 24px;
  height: 20px;
  position: relative;
  border: none;
  background-color: transparent;

  &::before,
  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: $dark-shade--50;
    position: absolute;
    left: 0;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  &:focus {
    outline: none;
  }

  &--active {
    background-color: red;
  }

  @include tablet {
    display: block;
  }
}

.btn-burger__middle {
  display: block;
  width: 100%;
  height: 2px;
  background-color: $dark-shade--50;
  position: absolute;
  top: calc(50% - 1px);
  left: 0;
}
