.btn-burger {
  display: none;
  width: 24px;
  height: 20px;
  position: relative;
  border: none;
  background-color: transparent;

  @include transition(transform);

  &::before,
  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: $black;
    position: absolute;
    left: 0;

    transform: rotate(0deg);
    transition:
      top $transition-delay $transition-timing-function,
      transform $transition-delay $transition-timing-function;
  }

  &::before {
    top: 0;
  }

  &::after {
    top: calc(100% - 1px);
  }

  &:focus {
    outline: none;
  }

  @include tablet {
    display: block;
  }
}

.btn-burger__middle {
  display: block;
  width: 100%;
  height: 2px;
  background-color: $black;
  position: absolute;
  top: calc(50% - 1px);
  left: 0;
}

.btn-burger--active {
  transform: rotate(45deg);

  &::before {
    top: calc(50% - 1px);
    transform: rotate(90deg);
  }

  &::after {
    top: calc(50% - 1px);
    transform: rotate(0deg);
  }
}
