include ../../pug/mixins.pug

include ../checkbox/checkbox.pug
include ../header/header.pug
include ../footer/footer.pug
include ../btn/btn.pug
include ../card/card.pug
include ../date-dropdown/date-dropdown.pug
include ../dropdown-guests/dropdown-guests.pug
include ../input-quantity/input-quantity.pug
include ../range/range.pug
include ../rich-checkbox/rich-checkbox.pug
include ../dropdown-rooms/dropdown-rooms.pug
include ../expandable-list/expandable-list.pug
include ../card-hotel-room/card-hotel-room.pug
include ../pagination/pagination.pug
include ../popup/popup.pug
include ../card-sign-in/card-sign-in.pug
include ../card-sign-up/card-sign-up.pug

//----------------------------------------------------

-
  const restRoomImages = [
    {
      src: "./assets/img/hotel-room-2.png",
      alt: "Другая спальня"
    },

    {
      src: "./assets/img/hotel-room-2.png",
      alt: "Еще спальня"
    },

    {
      src: "./assets/img/hotel-room-2.png",
      alt: "Опять спальня"
    }
  ]

  const roomsData = [
    {
      className: "page-catalog__card-hotel-room js-page-catalog-card-hotel-room",

      roomNumber: "888",
      roomCategory: "Люкс",
      roomCost: "9 990₽",
      roomCostPer: "В сутки",
      initialRating: 5,
      reviewsQuantity: "145"
    },

    {
      className: "page-catalog__card-hotel-room js-page-catalog-card-hotel-room",

      roomNumber: "840",
      roomCost: "9 900₽",
      roomCostPer: "В сутки",
      initialRating: 4,
      reviewsQuantity: "65"
    },

    {
      className: "page-catalog__card-hotel-room js-page-catalog-card-hotel-room",

      roomNumber: "980",
      roomCost: "8 500₽",
      roomCostPer: "В сутки",
      initialRating: 3,
      reviewsQuantity: "35"
    },

    {
      className: "page-catalog__card-hotel-room js-page-catalog-card-hotel-room",

      roomNumber: "856",
      roomCost: "7 300₽",
      roomCostPer: "В сутки",
      initialRating: 5,
      reviewsQuantity: "19"
    },

    {
      className: "page-catalog__card-hotel-room js-page-catalog-card-hotel-room",

      roomNumber: "740",
      roomCost: "6 000₽",
      roomCostPer: "В сутки",
      initialRating: 4,
      reviewsQuantity: "44"
    },

    {
      className: "page-catalog__card-hotel-room js-page-catalog-card-hotel-room",

      roomNumber: "982",
      roomCost: "5 800₽",
      roomCostPer: "В сутки",
      initialRating: 3,
      reviewsQuantity: "56"
    },

    {
      className: "page-catalog__card-hotel-room js-page-catalog-card-hotel-room",

      roomNumber: "678",
      roomCost: "5 500₽",
      roomCostPer: "В сутки",
      initialRating: 5,
      reviewsQuantity: "45"
    },

    {
      className: "page-catalog__card-hotel-room js-page-catalog-card-hotel-room",

      roomNumber: "450",
      roomCost: "5 300₽",
      roomCostPer: "В сутки",
      initialRating: 4,
      reviewsQuantity: "39"
    },

    {
      className: "page-catalog__card-hotel-room js-page-catalog-card-hotel-room",

      roomNumber: "350",
      roomCost: "5 000₽",
      roomCostPer: "В сутки",
      initialRating: 3,
      reviewsQuantity: "77"
    },

    {
      className: "page-catalog__card-hotel-room js-page-catalog-card-hotel-room",

      roomNumber: "666",
      roomCost: "5 000₽",
      roomCostPer: "В сутки",
      initialRating: 5,
      reviewsQuantity: "25"
    },

    {
      className: "page-catalog__card-hotel-room js-page-catalog-card-hotel-room",

      roomNumber: "444",
      roomCost: "5 000₽",
      roomCostPer: "В сутки",
      initialRating: 3,
      reviewsQuantity: "15"
    },

    {
      className: "page-catalog__card-hotel-room js-page-catalog-card-hotel-room",

      roomNumber: "352",
      roomCost: "5 000₽",
      roomCostPer: "В сутки",
      initialRating: 3,
      reviewsQuantity: "55"
    },
  ]

//----------------------------------------------------

+header({
  className: "page-header page-header--catalog js-page-catalog-header",
  logoHref: "/landing.html",
  btnBurgerClassName: "js-page-catalog-header-burger-btn",
  siteListLinks: [
    {
      itemClassName: "page-header__site-item",
      href: "#",
      text: "О нас"
    },

    {
      itemClassName: "page-header__site-item",
      href: "#",
      text: "Услуги",
      submenuLinks: [
        {
          text: "Lorem ipsum",
          href: "#"
        },

        {
          text: "Dolor",
          href: "#"
        }
      ]
    },

    {
      itemClassName: "page-header__site-item",
      href: "#",
      text: "Вакансии"
    },

    {
      itemClassName: "page-header__site-item",
      href: "#",
      text: "Новости"
    },

    {
      itemClassName: "page-header__site-item",
      href: "#",
      text: "Соглашения",
      submenuLinks: [
        {
          text: "Sample Text",
          href: "#"
        },

        {
          text: "Again",
          href: "#"
        }
      ]
    }
  ],
  lang: "ru"
})

main.page-catalog
  h1.visually-hidden
    | Главная страница Toxin

  section.page-catalog__promo
    .wrapper.page-catalog__promo-inner
      .page-catalog__side-menu
        form.page-catalog__side-menu-form(
          action="https://echo.htmlacademy.ru/"
          method="GET")
        +date-dropdown({
          className: "page-catalog__range js-page-catalog-dates-range",
          range: true,
          label: "Даты пребывания в отеле",
          name: "user-dates-range",
          startValue: "19 авг - 23 авг"
        })

        +dropdown-guests({
          className: "page-catalog__guests js-page-catalog-guests",
          label: "Гости"
        })
          +input-quantity({
            className: "page-catalog__quantity-input",
            label: "Взрослые",
            initialValue: 2,
            min: 0,
            max: 4
          })

          +input-quantity({
            className: "page-catalog__quantity-input",
            label: "Дети",
            initialValue: 1,
            min: 0,
            max: 4
          })

          +input-quantity({
            className: "page-catalog__quantity-input",
            label: "Младенцы",
            initialValue: 1,
            min: 0,
            max: 3
          })

        .page-catalog__price-range-wrapper
          +range({
            className: "page-catalog__price-range js-page-catalog-price-range",
            labelText: "Диапазон Цены"
          })
          p.page-catalog__price-range-description
            | Стоимость за сутки пребывания в номере

        +labeled({
          className: "page-catalog__check-buttons-label",
          label: "Checkbox Buttons",
          tagName: "p"
        })
        .page-catalog__checkbox-buttons
          +checkbox({
            className: "page-catalog__checkbox",
            labelText: "Можно курить",
            checked: false,
            name: "hotel-room-smoking"
          })
          +checkbox({
            className: "page-catalog__checkbox",
            labelText: "Можно с питомцами",
            checked: true,
            name: "hotel-room-pets"
          })
          +checkbox({
            className: "page-catalog__checkbox",
            labelText: "Можно пригласить гостей (до 10 человек)",
            checked: true,
            name: "hotel-room-guests"
          })

        +labeled({
          className: "page-catalog__rich-checks-label",
          label: "Доступность",
          tagName: "p"
        })
        .page-catalog__checkbox-buttons
          +rich-checkbox({
            labelText: "Широкий коридор",
            description: "Ширина коридоров в номере не\u00A0менее 91 см.",
            name: "hotel-room-corridor"
          })
          +rich-checkbox({
            labelText: "Помощник для инвалидов",
            description: "На 1 этаже вас встретит специалист и проводит до номера.",
            name: "hotel-room-helper"
          })

        +dropdown-rooms({
          className: "page-catalog__rooms-dropdown js-catalog-dropdown-rooms",
          label: "Удобства номера"
        })
          +input-quantity({
            className: "page-catalog__quantity-input",
            label: "Спальни",
            initialValue: 2,
            min: 1,
            max: 4
          })
          +input-quantity({
            className: "page-catalog__quantity-input",
            label: "Кровати",
            initialValue: 2,
            min: 1,
            max: 6
          })
          +input-quantity({
            className: "page-catalog__quantity-input",
            label: "Ванные комнаты",
            initialValue: 0,
            min: 0,
            max: 2
          })

        +expandable-list({
          className: "page-catalog__additional-options js-page-catalog-expandable",
          header: "Дополнительные удобства"
        })
          +checkbox({
            className: "page-catalog__checkbox",
            labelText: "Завтрак",
            checked: false,
            name: "hotel-room-additional-breakfast"
          })
          +checkbox({
            className: "page-catalog__checkbox",
            labelText: "Письменный стол",
            checked: true,
            name: "hotel-room-additional-table"
          })
          +checkbox({
            className: "page-catalog__checkbox",
            labelText: "Стул для кормления",
            checked: true,
            name: "hotel-room-additional-chair"
          })
          +checkbox({
            className: "page-catalog__checkbox",
            labelText: "Кроватка",
            checked: true,
            name: "hotel-room-additional-cot"
          })
          +checkbox({
            className: "page-catalog__checkbox",
            labelText: "Телевизор",
            checked: false,
            name: "hotel-room-additional-tv"
          })
          +checkbox({
            className: "page-catalog__checkbox",
            labelText: "Шампунь",
            checked: false,
            name: "hotel-room-additional-shampoo"
          })
          +checkbox({
            className: "page-catalog__checkbox",
            labelText: "Телевизор",
            checked: false,
            name: "hotel-room-tv-again"
          })
          +checkbox({
            className: "page-catalog__checkbox",
            labelText: "Шампунь",
            checked: false,
            name: "hotel-room-additional-shampoo-again"
          })

      .page-catalog__hotel-rooms
        p.h1.page-catalog__hotel-rooms-title
          | Номера, который мы для вас подобрали

        ul.page-catalog__hotel-rooms-list
          each roomData, roomIndex in roomsData
            li.page-catalog__hotel-rooms-item
              -
                const roomDataWithId = Object.assign(roomData, {
                  ratingName: `hotel-room-${ roomIndex }`,
                  roomImages: [
                    {
                      src: `./assets/img/hotel-room-${ roomIndex + 1 }@1x.jpg`,
                      alt: "Просторная спальня"
                    },

                    ...restRoomImages
                  ],
                })

              +card-hotel-room(roomData)

        +pagination({
          className: "page-catalog__pagination",

          perPage: 12,
          totalItems: 100,

          current: 1,
          last: 15
        })

  +popup({
    className: "page-catalog__popup-sign-in js-landing-page-popup-sign-in"
  })
    +card-sign-in({
      className: "page-catalog__popup-sign-in-card"
    })

  +popup({
    className: "page-catalog__popup-sign-up js-landing-page-popup-sign-up"
  })
    +card-sign-up({
      className: "page-catalog__popup-sign-up-card js-page-catalog-sign-up"
    })

  +footer({
    className: "page-catalog__footer",
    lang: "ru"
  })
    | Бронирование номеров в лучшем отеле
    | 2019 года по версии ассоциации «Отельные взгляды»
