.page-catalog__promo-inner {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 72px;

  @include mobile {
    flex-direction: column;
  }
}

.page-catalog__side-menu {
  display: flex;
  flex-direction: column;
  width: 23%;

  @include tablet-landscape {
    width: 32%;
  }

  @include tablet {
    width: 35%;
  }

  @include mobile {
    width: 100%;
    margin-bottom: 30px;
  }
}

.page-catalog__range {
  margin-bottom: 19px;
}

.page-catalog__guests {
  margin-bottom: 30px;
}

.page-catalog__price-range-wrapper {
  margin-bottom: 30px;
}

.page-catalog__price-range {
  margin-bottom: 17px;
}

.page-catalog__price-range-description {
  margin: 0;

  color: $dark-shade--25;
  font-family: $font-primary;
  font-size: em(12);
  line-height: em(22);
}

.page-catalog__check-buttons-label {
  margin: 0 0 10px;
}

.page-catalog__checkbox-buttons {
  display: flex;
  flex-direction: column;

  margin-bottom: 29px;
}

.page-catalog__checkbox {
  width: 85%;
}

.page-catalog__checkbox:not(:last-child) {
  margin-bottom: 10px;
}

.page-catalog__rich-checks-label {
  margin: 0;
}

.page-catalog__rooms-dropdown {
  margin-bottom: 30px;
}

.page-catalog__hotel-rooms {
  width: 71.8%;
  margin-left: auto;

  @include tablet-landscape {
    width: 60%;
  }

  @include mobile {
    width: 100%;
  }
}

.page-catalog__hotel-rooms-title {
  margin: 0 0 20px;

  font-size: em(25);
}

.page-catalog__hotel-rooms-list {
  @include drop-list();

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 25px;

  @include tablet-landscape {
    justify-content: flex-start;
  }
}

.page-catalog__hotel-rooms-item {
  width: 271px;
  margin-bottom: 18px;

  @include tablet {
    width: 93%;
  }

  @include mobile {
    width: 100%;
  }
}

.page-catalog__hotel-rooms-item:nth-child(2n+1) {
  @include tablet-landscape {
    margin-right: 30px;
  }
}

.page-catalog__pagination {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 15px;
}

.page-catalog__footer {
  border-top: 1px solid $dark-shade--25;
}

.page-catalog__footer .footer__navigation-block:not(:last-child) {
  margin-right: 60px;

  @include mobile {
    margin-right: 20px;
  }
}

.page-catalog__footer .footer__navigation-block:last-child {
  padding-left: 30px;

  @include mobile {
    padding-left: 0;
  }
}

.page-catalog__popup-sign-in-card,
.page-catalog__popup-sign-up-card {
  padding: 40px 20px 30px;
}
