.page-catalog__promo-inner {
  display: flex;
  flex-wrap: wrap;
}

.page-catalog__header {
  margin-bottom: 30px;
}

.page-catalog__side-menu {
  display: flex;
  flex-direction: column;
  width: 23%;
}

.page-catalog__range {
  margin-bottom: 19px;
}

.page-catalog__guests {
  margin-bottom: 30px;
}

.page-catalog__price-range-wrapper {
  margin-bottom: 30px;
}

.page-catalog__price-range {
  margin-bottom: 17px;
}

.page-catalog__price-range-description {
  margin: 0;

  color: $dark-shade--25;
  font-family: $font-primary;
  font-size: em(12);
  line-height: em(14);
}

.page-catalog__check-buttons-label {
  margin: 0 0 10px;
}

.page-catalog__checkbox-buttons {
  display: flex;
  flex-direction: column;

  margin-bottom: 29px;
}

.page-catalog__checkbox {
  width: 85%;
}

.page-catalog__checkbox:not(:last-child) {
  margin-bottom: 10px;
}

.page-catalog__rich-checks-label {
  margin: 0;
}

.page-catalog__rooms-dropdown {
  margin-bottom: 30px;
}

.page-catalog__hotel-rooms {
  width: 71.8%;
  margin-left: auto;
}

.page-catalog__hotel-rooms-title {
  margin: 0 0 20px;

  font-size: em(25);
}

.page-catalog__hotel-rooms-list {
  @include drop-list();

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.page-catalog__hotel-rooms-item {
  width: 32.5%;
}
