.page-landing__promo {
  padding-top: 70px;
  padding-bottom: 20px;

  background-image: url("./assets/img/landing-bg-1@1x.jpg");
  background-repeat: no-repeat;
  background-position: center top;
}

.page-landing__promo-inner {
  padding-top: 690px;
  position: relative;

  @include mobile {
    padding-top: 580px;
  }
}

.page-landing__card-form {
  display: flex;
  flex-direction: column;
  width: 32.7%;
  padding: 41px 28px 30px;
  position: absolute;
  top: -1px;

  @include tablet-landscape {
    width: 40%;
  }

  @include tablet {
    width: 50%;
  }

  @include mobile {
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 87.5%;
  }
}

.page-landing__card-title {
  font-size: em(23.5);
  line-height: 28px;

  margin: 0 0 20px;
}

.page-landing__inputs-wrapper {
  display: flex;
  flex-wrap: wrap;

  margin-bottom: 21px;
}

.page-landing__input-narrow {
  width: 47%;

  @include tablet {
    width: 47%;
  }

  @include mobile {
    width: 100%;
  }
}

.page-landing__input-narrow:not(:last-child) {
  margin-right: 15px;

  @include tablet {
    margin-right: 15px;
  }

  @include mobile {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.page-landing__input-narrow:last-child {
  margin-left: auto;
}

.page-landing__guests-dropdown {
  margin-bottom: 33px;
}

.page-landing__hotel-submit {
  width: 100%;
  font-size: em(12);
}

.page-landing__hotel-submit svg {
  position: absolute;
  right: 15px;
  top: calc(50% - 7px);
  fill: $white;
}

.page-landing__promo-description {
  width: 25%;
  align-self: flex-end;
  margin: 0 0 0 auto;

  font-size: em(13.7);
  line-height: 24px;
  text-align: right;
  color: $dark-shade--75;

  @include tablet-landscape {
    width: 50%;
  }

  @include mobile {
    width: 75%;
  }
}

.page-landing__footer .footer__navigation-block:not(:last-child) {
  margin-right: 60px;

  @include mobile {
    margin-right: 20px;
  }
}

.page-landing__popup-sign-in-card,
.page-landing__popup-sign-up-card {
  padding: 40px 20px 30px;
}
