.footer-minimal {
  padding-top: 100px;
  padding-bottom: 105px;

  background-color: $white;
  box-shadow: 0 10px 20px $dark-shade--5;

  @include mobile {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.footer-minimal__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-minimal__logo {
  display: block;
  margin-bottom: 13px;
}

.footer-minimal__description {
  width: 50%;
  margin: 0 0 32px;

  font-size: em(13.8);
  line-height: 22px;
  text-align: center;

  @include mobile {
    width: 100%;
  }
}

.footer-minimal__logos {
  @include drop-list();

  display: flex;
  align-items: center;
}

.footer-minimal__logo-item:not(:last-child) {
  margin-right: 22px;
}

.footer-minimal__logo-link {
  display: block;

  @include transition(opacity);

  &:hover,
  &:focus {
    outline: none;

    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.footer-minimal__logo-link svg {
  width: 22px;
  height: 22px;

  fill: url("#gradient-purple");
}
