include ../labeled/labeled

mixin input-accordion(inputSelectObj)
  -
    const {
      className,
      label,
      rightLabel,
    } = inputSelectObj

  .input-accordion(class=className)
    +labeled({ label, rightLabel })
    .input-accordion__accordion
      h3.visually-hidden.input-accordion__title
        | Количество гостей
      p.input-accordion__label
        | Сколько гостей
      .input-accordion__inner
        block
