include ../../pug/mixins.pug

include ../header/header.pug
include ../footer/footer.pug
include ../footer-minimal/footer-minimal.pug

main.page-main
  section.uikit-header-footer
    .uikit-header-footer__inner
      h1.visually-hidden
        | UI-Kit Header, Footer and stuff

      +header({
        className: "uikit-header-footer__header uikit-header-footer__header--top",
        btnBurgerClassName: "js-uikit-header-widgets"
      })

      +header({
        className: "uikit-header-footer__header uikit-header-footer__header--bottom",
        authorization: "Cosmin Negoita",
        btnBurgerClassName: "js-uikit-header-minimal"
      })

      +footer({
        className: "uikit-header-footer__footer"
      })
        | Lorem ipsum dolor sit amet consectetur
        | adipiscing elit aliquam eget nullam pellentesque
        | aliquam curabitur cociis.

      +footer-minimal({
        className: "uikit-header-footer__footer-minimal"
      })
        | Lorem ipsum dolor sit amet consectetur
        | adipiscing elit aliquam eget nullam pellentesque
        | aliquam curabitur cociis.
