include ../../pug/mixins.pug

include ../header/header.pug
include ../footer/footer.pug
include ../footer-minimal/footer-minimal.pug

main.page-main
  section.uikit-header-footer
    .uikit-header-footer__inner
      h1.visually-hidden
        | UI-Kit Header, Footer and stuff

      +header({
        className: "uikit-header-footer__header"
      })

      +header({
        className: "uikit-header-footer__header",
        authorization: "Cosmin Negoita"
      })

      +footer({
        className: "uikit-header-footer__footer"
      })
        | Lorem ipsum dolor sit amet consectetur
        | adipiscing elit aliquam eget nullam pellentesque
        | aliquam curabitur cociis.

      +footer-minimal({
        className: "uikit-header-footer__footer-minimal"
      })
        | Lorem ipsum dolor sit amet consectetur
        | adipiscing elit aliquam eget nullam pellentesque
        | aliquam curabitur cociis.
