include ../../pug/mixins.pug

include ../header/header.pug

main.page-main
  section.uikit-header-footer
    .uikit-header-footer__inner
      h1.visually-hidden
        | UI-Kit Header, Footer and stuff

      +header({
        className: "uikit-header-footer__header"
      })

      +header({
        className: "uikit-header-footer__header",
        authorization: "Cosmin Negoita"
      })
