.logo {
  @include transition(opacity);

  &:focus {
    outline: none;
  }
}

.logo--full {
  &:hover,
  &:focus {
    outline: none;
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.logo svg {
  width: 47px;
  height: 47px;

  fill: url("#gradient-purple-animation");
}

.logo .svg-gradients__purple-animation stop {
  @include transition(stop-color);
}

.logo:focus .svg-gradients__purple-animation stop:first-child,
.logo:hover .svg-gradients__purple-animation stop:first-child {
  stop-color: #8ba4f9;
}

.logo:focus .svg-gradients__purple-animation stop:last-child,
.logo:hover .svg-gradients__purple-animation stop:last-child {
  stop-color: #bc9cff;
}
