.comment__header {
  display: flex;
  margin-bottom: 13px;
  padding-top: 10px;
}

.comment__header img {
  width: 46px;
  height: 46px;

  margin-right: 10px;
}

.comment__user-name {
  margin: 0 0 8px;
  padding-top: 2px;

  font-size: em(14);
  line-height: 16px;

  &::selection {
    background-color: $selection-color;
  }
}

.comment__when {
  margin: 0;

  font-size: em(14);
  line-height: 16px;

  &::selection {
    background-color: $selection-color;
  }
}

.comment__body {
  display: flex;
  align-items: flex-start;
  padding-left: 3px;
  position: relative;
}

.comment__text {
  margin: 0;
  padding-left: 54px;

  font-size: em(14);
  line-height: 23px;

  &::selection {
    background-color: $selection-color;
  }
}

.comment__like {
  position: absolute;
  left: 0;
}
