include ../../pug/mixins.pug

include ../card/card.pug
include ../date-dropdown/date-dropdown.pug
include ../dropdown-guests/dropdown-guests.pug
include ../btn/btn.pug
include ../input-quantity/input-quantity.pug
include ../text-field/text-field.pug
include ../radio/radio.pug
include ../toggle/toggle.pug
include ../option/option.pug
include ../bill/bill.pug
include ../total/total.pug
include ../hotel-room-number/hotel-room-number.pug
include ../rating/rating.pug
include ../card-hotel-room/card-hotel-room.pug
include ../card-sign-in/card-sign-in.pug
include ../card-sign-up/card-sign-up.pug
include ../card-book-room/card-book-room.pug

mixin first-column()
  .uikit-cards__column
    +card({
      className: "uikit-cards__hotel"
    })
      form.uikit-cards__hotel-form(
        action="https://echo.htmlacademy.ru/"
        method="POST")
        h2.uikit-cards__card-title
          | Найдём номера под ваши пожелания
        .uikit-cards__inputs-wrapper
          .uikit-cards__input-half
            +date-dropdown({
              className: "uikit-cards__left-date js-uikit-cards-arrival",
              label: "Прибытие",
              name: "user-arrival"
            })
          .uikit-cards__input-half
            +date-dropdown({
              className: "uikit-cards__right-date js-uikit-cards-check-out",
              label: "Выезд",
              name: "user-check-out"
            })
        .uikit-cards__guests
          +dropdown-guests({
            className: "uikit-cards__guests-dropdown js-uikit-cards-hotel-guests",
            label: "Гости",
            title: "Сколько гостей"
          })
            +input-quantity({
              className: "uikit-cards__quantity-input",
              label: "Взрослые",
              initialValue: 0,
              min: 0,
              max: 4,
              name: "user-guests-adults"
            })
        +btn({
          className: "uikit-cards__hotel-submit",
          type: "submit"
        })
          | Подобрать номер
          +svg("arrow_forward", 15, 15)

    +card-sign-up({
      className: "uikit-cards__register"
    })

mixin second-column()
  .uikit-cards__column
    +card-book-room({
      className: "uikit-cards__book",
      method: "POST",
      action: "http://echo.htmlacademy.ru",

      roomNumber: "888",
      roomCategory: "люкс",
      roomCost: "9 990₽",

      arrivalDropdownClassName: "js-uikit-cards-book-arrival",
      checkoutDropdownClassName: "js-uikit-cards-book-check-out",
      guestsDropdownClassName: "js-uikit-cards-book-guests"
    })

    +card-sign-in({
      className: "uikit-cards__auth"
    })

mixin third-column()
  .uikit-cards__column.uikit-cards__column--narrow
    +card({
      className: "uikit-cards__calendar"
    })
      +text-field({
        className: "uikit-cards__calendar-input js-uikit-cards-calendar",
        type: "date",
        interactLike: "date",
        placeholder: "ДД.ММ.ГГГГ",
        name: "user-date",
        inputClass: "visually-hidden--always"
      })

    +card-hotel-room({
      className: "uikit-cards__hotel-room js-uikit-room-first",
      roomImages: [
        {
          src: "./assets/img/hotel-room-1@1x.jpg",
          alt: "Просторная спальня"
        },

        {
          src: "./assets/img/hotel-room-2@1x.jpg",
          alt: "Другая спальня"
        },

        {
          src: "./assets/img/hotel-room-2@1x.jpg",
          alt: "Еще спальня"
        },

        {
          src: "./assets/img/hotel-room-2@1x.jpg",
          alt: "Опять спальня"
        }
      ],

      roomNumber: "888",
      roomCategory: "Люкс",
      roomCost: "9 990₽",
      roomCostPer: "В сутки",
      initialRating: 5,
      ratingName: "rating-room-first",
      reviewsQuantity: "145"
    })

    +card-hotel-room({
      className: "uikit-cards__hotel-room js-uikit-room-second",
      roomImages: [
        {
          src: "./assets/img/hotel-room-2@1x.jpg",
          alt: "Просторная спальня"
        },

        {
          src: "./assets/img/hotel-room-1@1x.jpg",
          alt: "Другая спальня"
        },

        {
          src: "./assets/img/hotel-room-2@1x.jpg",
          alt: "Еще спальня"
        },

        {
          src: "./assets/img/hotel-room-2@1x.jpg",
          alt: "Опять спальня"
        }
      ],

      roomNumber: "840",
      roomCost: "9 900₽",
      roomCostPer: "В сутки",
      initialRating: 4,
      ratingName: "rating-room-second",
      reviewsQuantity: "65"
    })

main.page-main
  section.uikit-cards
    .wrapper.uikit-cards__inner
      h1.visually-hidden
        | UI-Kit Cards

      +first-column()
      +second-column()
      +third-column()
