mixin svg-gradients()
  svg(class="svg-gradients")
    defs
      g.svg-gradients__purple
        linearGradient(id="gradient-purple")
          stop(offset="0%" stop-color="#C7C7D0")
          stop(offset="100%" stop-color="#C7C7D0")
