include ../dropdown/dropdown.pug

mixin dropdown-guests(dropdownGuestsObj)
  -
    const {
      className,
      label,
      rightLabel,
      header,
      title
    } = dropdownGuestsObj

  +dropdown(dropdownGuestsObj)
    .dropdown__inputs-wrapper
      block
    .dropdown__btns-wrapper
      button.btn.btn--transparent.dropdown__btn-submit.js-dropdown-submit(type="button")
        | Применить
      button.btn.btn--transparent.dropdown__btn-reset.js-dropdown-reset(type="button")
        | Очистить
