mixin dropdown-guests(dropdownGuestsObj)
  -
    const {
      className,
      label,
      rightlabel,
      name
    } = dropdownGuestsObj

  +labeled({
    className: `guests-dropdown ${ className }`,
    label: label,
    rightLabel: rightLabel
  })
    input.visually-hidden.visually-hidden--always(
      name=name,
      value=startValue
    )
    p.date-dropdown__text
      | #{ startValue || "ДД.ММ.ГГГГ" }
