include ../dropdown/dropdown.pug

mixin dropdown-guests(dropdownGuestsObj)
  -
    const {
      className,
      label,
      rightLabel,
      header,
      title
    } = dropdownGuestsObj

  +dropdown(dropdownGuestsObj)
    .dropdown__inputs-wrapper
      block
    button.dropdown__btn-submit.js-dropdown-submit(type="button")
      | Применить
