mixin labeled(labeledObj)
  - const { className, label, rightLabel, tagName = "label" } = labeledObj
  #{tagName}.labeled(class=className)
    span.cta.labeled__label-text
      | #{ label }
    if rightLabel
      span.labeled__status
        | #{ rightLabel }
    block
