mixin labeled(labeledObj)
  - const { className, label, rightLabel } = labeledObj
  label.labeled(class=className)
    span.cta.labeled__label-text
      | #{ label }
    if rightLabel
      span.labeled__status
        | #{ rightLabel }
    block
