.header {
  position: relative;
  z-index: 0;
  background-color: $white;

  box-shadow: 0 10px 20px $dark-shade--5;

  @include tablet {
    z-index: 100;
  }
}

.header__inner {
  padding: 13px 0 12px;

  @include tablet-landscape {
    padding: 13px 20px 12px;
  }
}

.header__logo {
  display: block;
  padding-top: 1px;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__site-list {
  display: flex;
  align-items: center;

  @include tablet {
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: calc(100% - 1px);
    left: 0;
    background-color: $white;
    opacity: 0;
    box-shadow: 0 10px 20px $dark-shade--5;
    z-index: -1;
    visibility: hidden;
  }
}

.header__burger-btn {
  z-index: 1;
}

.header__burger-btn.btn-burger--active ~ .header__site-list {
  opacity: 1;
  z-index: 100;
  visibility: visible;
}
