include ../logo/logo.pug
include ../site-list/site-list.pug
include ../btn-burger/btn-burger.pug
include ../svg-gradients/svg-gradients.pug

mixin header(headerObj)
  -
    const {
      className,
      btnBurgerClassName,
      authorization,
      siteListLinks,
      lang,
      logoHref = "#"
    } = headerObj

  header.header(class=className)
    +svg-gradients()
    .wrapper.header__inner
      nav.header__nav
        +logo({
          className: "header__logo",
          isFull: true,
          link: logoHref
        })

        +btn-burger({
          className: "js-header-burger-btn header__burger-btn"
        })

        +site-list({
          className: "header__site-list",
          authorization,
          siteListLinks,
          lang
        })
