.header {
  background-color: $white;
}

.header__inner {
  position: relative;
  z-index: 0;
  padding: 13px 0 12px;
}

.header__logo {
  display: block;
  padding-top: 1px;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__site-list {
  display: flex;
  align-items: center;
}
