include ../logo/logo.pug
include ../site-list/site-list.pug
include ../btn-burger/btn-burger.pug

mixin header(headerObj)
  -
    const {
      className,
      btnBurgerClassName,
      authorization
    } = headerObj
  header.header(class=className)
    .wrapper.header__inner
      nav.header__nav
        +logo({
          className: "header__logo",
          isFull: true,
          link: "#"
        })

        - const btnBurgerClasses = [ "header__burger-btn", btnBurgerClassName ];
        - const btnBurgerClassString = btnBurgerClasses.filter(Boolean).join(" ");
        +btn-burger({
          className: btnBurgerClassString
        })

        +site-list({
          className: "header__site-list",
          authorization
        })
