.page-sign-up__promo {
  padding-top: 30px;
  padding-bottom: 24px;

  background-image: url("./assets/img/landing-bg-2@1x.jpg");
  background-repeat: no-repeat;
  background-position: center top;

  @include retina {
    background-image: url("./assets/img/landing-bg-2@2x.jpg");
    background-size: contain;
  }

  @include tablet {
    background-color: #e2e2e2;
  }

  @include mobile {
    background-size: cover;
  }
}

.page-sign-up__promo-inner {
  position: relative;
  display: flex;
  justify-content: center;
}

.page-sign-up__register {
  display: flex;
  flex-direction: column;
  width: 32.7%;
  padding: 44px 28px 22px;

  @include tablet-landscape {
    width: 40%;
  }

  @include tablet {
    width: 50%;
  }

  @include mobile {
    margin: 0 auto;
    width: 100%;
  }
}

.page-sign-up__footer .footer__navigation-block:not(:last-child) {
  margin-right: 60px;

  @include mobile {
    margin-right: 20px;
  }
}

.page-sign-up__footer .footer__navigation-block:last-child {
  padding-left: 30px;

  @include tablet-landscape {
    padding-left: 0;
  }
}

.page-sign-up__popup-sign-in-card,
.page-sign-up__popup-sign-up-card {
  padding: 40px 20px 30px;
}
