include ../../pug/mixins.pug

include ../header/header.pug
include ../card/card.pug
include ../text-field/text-field.pug
include ../btn/btn.pug
include ../card-sign-up/card-sign-up.pug
include ../footer/footer.pug
include ../popup/popup.pug
include ../card-sign-in/card-sign-in.pug

+header({
  className: "page-header js-page-sign-up-header",
  logoHref: "/landing.html",
  btnBurgerClassName: "js-page-sign-up-header-burger-btn",
  siteListLinks: [
    {
      itemClassName: "page-header__site-item",
      href: "#",
      text: "О нас"
    },

    {
      itemClassName: "page-header__site-item",
      href: "#",
      text: "Услуги",
      submenuLinks: [
        {
          text: "Lorem ipsum",
          href: "#"
        },

        {
          text: "Dolor",
          href: "#"
        }
      ]
    },

    {
      itemClassName: "page-header__site-item",
      href: "#",
      text: "Вакансии"
    },

    {
      itemClassName: "page-header__site-item",
      href: "#",
      text: "Новости"
    },

    {
      itemClassName: "page-header__site-item",
      href: "#",
      text: "Соглашения",
      submenuLinks: [
        {
          text: "Sample Text",
          href: "#"
        },

        {
          text: "Again",
          href: "#"
        }
      ]
    }
  ],
  lang: "ru"
})

main.page-sign-up
  h1.visually-hidden
    | Страница регистрации в Toxin

  section.page-sign-up__promo
    .wrapper.page-sign-up__promo-inner
      +card-sign-up({
        className: "page-sign-up__register js-page-sign-up-sign-up"
      })

  +popup({
    className: "page-sign-up__popup-sign-in js-popup-sign-in"
  })
    +card-sign-in({
      className: "page-sign-up__popup-sign-in-card"
    })

  +popup({
    className: "page-sign-up__popup-sign-up js-popup-sign-up"
  })
    +card-sign-up({
      className: "page-sign-up__popup-sign-up-card js-page-sign-up-sign-up"
    })

+footer({
  className: "page-sign-up__footer",
  lang: "ru"
})
  | Бронирование номеров в лучшем отеле
  | 2019 года по версии ассоциации «Отельные взгляды»
