include ../../pug/mixins.pug

include ../header/header.pug
include ../card/card.pug
include ../text-field/text-field.pug
include ../btn/btn.pug
include ../card-sign-up/card-sign-up.pug
include ../footer/footer.pug

+header({
  className: "page-header",
  logoHref: "/landing.html",
  btnBurgerClassName: "js-page-sign-up-header-burger-btn",
  siteListLinks: [
    {
      itemClassName: "page-header__site-item",
      href: "#",
      text: "О нас"
    },

    {
      itemClassName: "page-header__site-item",
      href: "#",
      text: "Услуги",
      submenuLinks: [
        {
          text: "Lorem ipsum",
          href: "#"
        },

        {
          text: "Dolor",
          href: "#"
        }
      ]
    },

    {
      itemClassName: "page-header__site-item",
      href: "#",
      text: "Вакансии"
    },

    {
      itemClassName: "page-header__site-item",
      href: "#",
      text: "Новости"
    },

    {
      itemClassName: "page-header__site-item",
      href: "#",
      text: "Соглашения",
      submenuLinks: [
        {
          text: "Sample Text",
          href: "#"
        },

        {
          text: "Again",
          href: "#"
        }
      ]
    }
  ],
  lang: "ru"
})

main.page-sign-up
  h1.visually-hidden
    | Страница регистрации в Toxin

  section.page-sign-up__promo
    .wrapper.page-sign-up__promo-inner
      +card-sign-up({
        className: "page-sign-up__register"
      })

  +footer({
    className: "page-sign-up__footer",
    lang: "ru"
  })
    | Бронирование номеров в лучшем отеле
    | 2019 года по версии ассоциации «Отельные взгляды»
