.carousel .item img {
  width: 100%;
  height: auto;
}

.owl-carousel {
  position: relative;
}

.owl-dots {
  position: absolute;
  bottom: 8px;
  right: 12px;
}

.owl-stage-outer {
  position: relative;
  cursor: grab;
}

.owl-stage-outer:active {
  cursor: grabbing;
}

.owl-theme .owl-dots .owl-dot span {
  margin: 2px;
  background-color: transparent;
  border: 1px solid $white;
  width: 8px;
  height: 8px;
}

.owl-theme .owl-dots .owl-dot.active span {
  background-color: $white;

  @include transition(opacity);
}

.owl-theme .owl-dots .owl-dot:focus {
  outline: none;
}

.owl-theme .owl-dots .owl-dot:hover span,
.owl-theme .owl-dots .owl-dot:focus span {
  opacity: 0.6;
}

.owl-theme .owl-dots .owl-dot:active {
  opacity: 0.3;
}

.owl-theme .owl-nav [class*="owl-"] {
  margin: 0;
}

.owl-theme .owl-nav [class*="owl-"]:hover {
  background-color: transparent;
}

.owl-nav {
  display: flex;
  height: 0;
  padding: 0 14px;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  top: calc(40% - 5px);
}

.owl-carousel .owl-nav button {
  width: 16px;
  height: 16px;
  margin: 0;

  @include transition(opacity);
}

.owl-carousel .owl-nav svg {
  fill: $white;
  width: 14px;
  height: 14px;
}

.owl-carousel .owl-nav button:focus {
  outline: none;
}

.owl-carousel .owl-nav button:hover,
.owl-carousel .owl-nav button:focus {
  opacity: 0.6;
}

.owl-carousel .owl-nav button:active {
  opacity: 0.3;
}

.owl-carousel .owl-nav button.owl-prev {
  transform: scale(-1, 1);
}

.owl-carousel .owl-item {
  @include tablet {
    width: 100%;
    height: auto;
  }
}

.owl-carousel .owl-item img {
  @include mobile {
    width: 100%;
    height: auto;
  }
}
