.checkbox {
  padding-top: 2px;
  padding-left: 30px;
  position: relative;

  color: $dark-shade-50;
  font-family: $font-primary;
  font-size: 14px;
  line-height: 18px;

  cursor: pointer;

  @include transition(color);

  &:focus-within {
    color: $dark-shade-75;
  }
}

.checkbox__box {
  display: block;

  width: 20px;
  height: 20px;
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;

  border: 1px solid $dark-shade-25;
  border-radius: 4px;

  @include transition(border);
}

.checkbox__box svg {
  width: 10px;
  height: 10px;

  position: absolute;
  margin: auto;
  top: 3px;
  left: 2px;
  right: 1px;

  opacity: 0;

  fill: url("#gradient-purple-reversed");

  @include transition(opacity);
}

.checkbox:hover .checkbox__box,
.checkbox input:focus ~ .checkbox__box {
  border: 1px solid $purple;
}

.checkbox input:checked ~ .checkbox__box {
  @include transition(opacity);

  border: 1px solid $purple;
}

.checkbox input:checked ~ .checkbox__box svg {
  opacity: 1;
}
