.checkbox {
  padding-left: 30px;

  color: $dark-shade-25;
  font-size: 14px;

  cursor: pointer;

  &::before {
    content: "";
    display: block;
    position: absolute;

    width: 20px;
    height: 20px;

    border: 1px solid $dark-shade-25;
    border-radius: 4px;

    @include transition(border);
  }
}

.checkbox:hover::before,
.checkbox:focus-within::before {
  border: 1px solid $purple;
}
