.footer {
  padding-top: 100px;
  padding-bottom: 20px;

  background-color: $white;
  box-shadow: 0 10px 20px $dark-shade--5;
}

.footer__bottom {
  padding-top: 27px;

  border-top: 1px solid $dark-shade--25;

  // @include tablet-landscape {
  //   padding: 27px 20px 0;
  // }
}

.footer__inner {
  display: flex;

  // @include tablet-landscape {
  //   padding: 0 20px;
  // }
}

.footer__inner:not(:last-child) {
  margin-bottom: 97px;
}

.footer__description-column {
  width: 22%;
  margin-right: 45px;

  @include tablet-landscape {
    margin-right: auto;
  }
}

.footer__logo {
  display: block;
  margin-bottom: 12px;
}

.footer__description {
  margin: 0;

  font-size: em(13.8);
  line-height: 24px;
}

.footer__navigation-column {
  display: flex;
}

.footer__navigation-block {
  padding-top: 4px;
}

.footer__navigation-block:not(:last-child) {
  margin-right: 118px;

  @include tablet-landscape {
    margin-right: 60px;
  }
}

.footer__navigation-title {
  margin: 0 0 19px;
}

.footer__navigation-list {
  @include drop-list();
}

.footer__navigation-item:not(:last-child) {
  margin-bottom: 16px;
}

.footer__navigation-link {
  color: $dark-shade--50;
  text-decoration: none;
  font-size: em(14);

  @include transition(opacity);

  &:hover,
  &:focus {
    outline: none;

    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.footer__subscribe-column {
  padding-top: 4px;
  margin-left: auto;
  width: 22.3%;
}

.footer__subscribe-title {
  margin: 0 0 19px;
  font-size: em(11.5);
}

.footer__subscribe-description {
  margin: 0 0 25px;

  font-size: em(13.8);
  line-height: 22px;
}

.footer__copyright {
  margin: 0;
  padding-top: 3px;

  font-size: em(13.8);
  line-height: 22px;
}

.footer__bottom-inner {
  display: flex;
}

.footer__logos {
  @include drop-list();

  display: flex;
  padding-bottom: 2px;
  margin-left: auto;
}

.footer__logo-item:not(:last-child) {
  margin-right: 22px;
}

.footer__logo-link {
  @include transition(opacity);

  &:hover,
  &:focus {
    outline: none;

    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.footer__logo-link svg {
  width: 22px;
  height: 22px;

  fill: url("#gradient-purple");
}
