.card-sign-up__register-title {
  margin: 0 0 23px;

  font-size: em(23);
}

.card-sign-up__register-first-name {
  margin-bottom: 10px;
}

.card-sign-up__register-last-name {
  margin-bottom: 11px;
}

.card-sign-up__register-radios {
  display: flex;
  margin-bottom: 22px;
}

.card-sign-up__register-radios label:not(:last-child) {
  margin-right: 20px;
}

.card-sign-up__masked-date {
  margin-bottom: 20px;
}

.card-sign-up__email {
  margin-bottom: 10px;
}

.card-sign-up__password {
  margin-bottom: 9px;
}

.card-sign-up__specials {
  margin-bottom: 25px;
}

.card-sign-up__submit {
  position: relative;

  font-size: em(12);
}

.card-sign-up__submit svg {
  width: 17px;
  height: 17px;
  position: absolute;
  top: calc(50% - 8px);
  right: 12px;

  fill: $white;
}

.card-sign-up__register-submit {
  width: 100%;
  margin-bottom: 31px;
}

.card-sign-up__footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;

  @include mobile {
    flex-direction: column;
  }
}

.card-sign-up__register-text {
  font-size: em(14);
  margin: 0;

  @include mobile {
    margin: 0 0 10px;
  }
}

.card-sign-up__authorize-btn {
  position: relative;
  margin-top: 2px;
  padding: 11px 20px;
  width: 95px;

  color: $purple;

  @include mobile {
    width: 100%;
  }
}
