.subscription-field {
  position: relative;
}

.subscription-field input {
  @include transition(border);

  &:hover,
  &:focus-within {
    outline: none;

    border: 1px solid $text-field-border-color--dark;
  }
}

.subscription-field__btn {
  margin: auto;
  padding: 0;
  width: 18px;
  height: 18px;
  position: absolute;
  bottom: 13px;
  right: 12px;

  border: none;
  background-color: transparent;

  cursor: pointer;

  @include transition(opacity);

  &:hover,
  &:focus {
    outline: none;

    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.subscription-field__btn svg {
  fill: url("#gradient-purple");
}
