include ../../pug/mixins

include ../logo/logo
include ../svg-gradients/svg-gradients

mixin uikit-header(uikitHeaderObj)
  - const { headerLink } = uikitHeaderObj
    header.uikit-header
      .uikit-header__inner
        +logo({
          isFull: false,
          link: headerLink || "/"
        })
