include ../../pug/mixins

include ../logo/logo
include ../svg-gradients/svg-gradients

block header
  +svg-gradients()
  header.uikit-header
    .uikit-header__inner
      +logo({
        isFull: false
      })
