include ../../pug/mixins.pug

include ../logo/logo.pug
include ../svg-gradients/svg-gradients.pug

mixin uikit-header(uikitHeaderObj)
  - const { headerLink } = uikitHeaderObj
    header.uikit-header
      .uikit-header__inner
        +logo({
          isFull: false,
          link: headerLink || "/"
        })
