@mixin transition($property) {
  transition: $property $transition-delay $transition-timing-function;
}

@mixin drop-list() {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin tablet-landscape {
  @media (max-width: 1199px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 1023px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 767px) {
    @content;
  }
}

// em

$browser-context: 16;

@function em($pixels, $context: $browser-context) {
  @return #{$pixels / $context}em;
}


// retina

@mixin retina {
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    @content;
  }
}
