.h1 {
  font-family: $font-secondary;
  font-size: em(24);
  line-height: 30px;
  font-weight: 700;
}

.h2 {
  font-family: $font-secondary;
  font-size: em(19);
  line-height: 21px;
  font-weight: 700;
}

.h3,
.cta {
  font-family: $font-primary;
  font-size: em(12);
  line-height: 15px;
  text-transform: uppercase;
  font-weight: 700;
}
