// sizes

$width-min: 320px;
$width-max: 1160px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// fonts

$font-primary: "Montserrat", Arial, sans-serif;
$font-secondary: "Quicksand", Arial, sans-serif;

// colors

$black: #000000;
$white: #ffffff;

$blue: #8ba4f9;
$purple: #bc9cff;

$dark-shade: rgba($color: $black, $alpha: 1.0);
$dark-shade-75: rgba($color: $black, $alpha: 0.75);
$dark-shade-50: rgba($color: $black, $alpha: 0.5);
$dark-shade-25: rgba($color: $black, $alpha: 0.25);
$dark-shade-5: rgba($color: $black, $alpha: 0.05);

$text-field-border-color: $dark-shade-25;
$text-field-border-color--dark: $dark-shade-50;

$selection-color: rgba($color: $blue, $alpha: 0.5);
