// sizes

$width-min: 320px;
$width-max: 1160px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// fonts

$font-primary: "Montserrat", Arial, sans-serif;
$font-secondary: "Quicksand", Arial, sans-serif;

// colors

$black: #000000;
$white: #ffffff;

$blue: #8ba4f9;
$purple: #bc9cff;

$input-text-border-color: rgba($color: $black, $alpha: 0.2);
$input-text-border-color--dark: opacify($input-text-border-color, 0.3);
