.text-field {
  margin: 0;
}

.text-field input {
  width: 100%;
  padding: 12px 14px;

  border-radius: 4px;
  border: 1px solid $text-field-border-color;

  color: rgba($color: $black, $alpha: 0.75);
  font-size: 14px;
  line-height: 18px;

  @include transition(border);

  &:hover,
  &:focus {
    outline: none;

    border: 1px solid $text-field-border-color--dark;
  }

  &::placeholder {
    color: rgba($color: $black, $alpha: 0.25);
    font-size: 14px;
    line-height: 18px;
  }

  &::selection {
    background-color: rgba($color: $blue, $alpha: 0.5)
  }
}

.text-field--focused input {
  border: 1px solid opacify($text-field-border-color, 0.3);
}


