include ../../pug/mixins.pug

include ../header/header.pug
include ../card/card.pug
include ../text-field/text-field.pug
include ../btn/btn.pug
include ../card-sign-in/card-sign-in.pug

+header({
  className: "page-header",
  btnBurgerClassName: ".js-page-sign-in-header-burger-btn",
  siteListLinks: [
    {
      itemClassName: "page-header__site-item",
      href: "#",
      text: "О нас"
    },

    {
      itemClassName: "page-header__site-item",
      href: "#",
      text: "Услуги",
      submenuLinks: [
        {
          text: "Lorem ipsum",
          href: "#"
        },

        {
          text: "Dolor",
          href: "#"
        }
      ]
    },

    {
      itemClassName: "page-header__site-item",
      href: "#",
      text: "Вакансии"
    },

    {
      itemClassName: "page-header__site-item",
      href: "#",
      text: "Новости"
    },

    {
      itemClassName: "page-header__site-item",
      href: "#",
      text: "Соглашения",
      submenuLinks: [
        {
          text: "Sample Text",
          href: "#"
        },

        {
          text: "Again",
          href: "#"
        }
      ]
    }
  ],
  lang: "ru"
})

main.page-sign-in
  h1.visually-hidden
    | Главная страница Toxin

  section.page-sign-in__promo
    .wrapper.page-sign-in__promo-inner
      +card-sign-in({
        className: "uikit-cards__auth"
      })
