.page-sign-in__promo {
  padding-top: 162px;
  padding-bottom: 162px;

  background-image: url("./assets/img/landing-bg-2@1x.jpg");
  background-repeat: no-repeat;
  background-position: center top;
}

.page-sign-in__promo-inner {
  position: relative;
  display: flex;
  justify-content: center;
}

.page-sign-in__auth {
  display: flex;
  flex-direction: column;
  width: 32.7%;
  padding: 44px 28px 22px;

  @include tablet-landscape {
    width: 40%;
  }

  @include tablet {
    width: 50%;
  }

  @include mobile {
    margin: 0 auto;
    width: 100%;
  }
}

.page-sign-in__card-title {
  margin: 0 0 24px;
}

.page-sign-in__input:not(:last-of-type) {
  margin-bottom: 10px;
}

.page-sign-in__input:last-of-type {
  margin-bottom: 20px;
}

.page-sign-in__submit {
  width: 100%;
}

.page-sign-in__submit svg {
  position: absolute;
  right: 15px;
  top: calc(50% - 7px);
  fill: $white;
}

.page-sign-in__footer .footer__navigation-block:not(:last-child) {
  margin-right: 60px;

  @include mobile {
    margin-right: 20px;
  }
}

.page-sign-in__footer .footer__navigation-block:last-child {
  padding-left: 30px;

  @include tablet-landscape {
    padding-left: 0;
  }
}

.page-sign-in__popup-sign-in-card,
.page-sign-in__popup-sign-up-card {
  padding: 40px 20px 30px;
}
